.navbar {
	background-color: black;
}

nav {
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	height: 60px;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

a {
	color: white;
	margin: 10px;
	text-decoration: none;
}
