.navbar {
	background-color: black;
}

nav {
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	height: 80px;
	padding: 0px 0px 10px 0px;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

.nav-logo {
	height: 60px;
	width: 240px;
	margin-top: 10px;
}

.nav-link {
	color: white;
	margin: 10px;
	text-decoration: none;
}

.nav-link:hover {
	border-bottom: 2px groove rgba(255, 255, 255, 0.823);
}
