.category-container {
	align-items: center;
	display: flex;
	grid-column: span 2;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.category-container:nth-child(5) {
	grid-column: 2 / 4;
}

.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.background-image:hover {
	transform: scale(1.03);
	transition: all 1s;
}

.category-body-container {
	background-color: #8d8a8ada;
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px black;
	color: white;
	cursor: pointer;
	left: 0;
	margin: 0 auto;
	padding: 1rem;
	position: absolute;
	right: 0;
	text-shadow: 2px 2px 1px black;
	width: 10rem;
}

.category-body-container:hover {
	background-color: #a7a7a7da;
}
